/*======================================================
               General Styling
=======================================================*/
html{
  height: 100%;
}
body{
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  background-color: #D0D8DD;
}
* {
  box-sizing: border-box;
}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/*======================================================
          Pokemon List buttons
=======================================================*/
.pokemon-list{
  display: grid;
  grid-template-columns: 230px 230px 230px ;
  grid-gap: 5px;
}
.pokeButton{
  margin: 5px;
  padding: 4px;
  border: 0px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 3px #AAA ;
  width: 220px ;
  height: 70px;
  font-family: "Raleway";
  font-size: 17px;
  color: #444;
  font-weight: 600;
  transition: 0.5s background-color;
}
.pokeButton:hover{
  background-color: #95B3C6;
}
.pokeButton:active{
  opacity: 0.8;
}

/*-----Media Queries for viewport less than 500px--------*/
@media all and (min-width: 570px) and (max-width: 800px){
  .pokemon-list{
    display: grid;
    grid-template-columns: 165px 165px 165px;
    grid-gap: 5px;
  }
  .pokeButton{
    width : 155px;
  }
}
@media all and (max-width: 570px) {
  .pokemon-list{
    display: grid;
    grid-template-columns: 180px 180px;
  }
  .pokeButton{
    width : 170px;
  }
}

/*-------------Remove shot points from the list-------------*/
li{
    list-style-type: none;
}

/*======================================================
               Loading Message
=======================================================*/
.loading_message,{
  position: fixed;
  top: 25%;
  left: 20%;
  width: 300px;
  height: 80px;
  text-align: center;
  padding: 22px;
  background-color: #C8DBE4;
  box-shadow: 4px 6px 6px #888;
  border: 3px solid #326273;
  border-radius: 3px;
}

.hidden{
  display: none;
}

/*======================================================
               Modals
=======================================================*/
#modal-container{
   display: none;
}
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  box-shadow: 6px 9px 9px #444;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  padding: 3px 10px;
  border: 0px solid;
  background-color: #637D92;
  color: #FFF;
  transition: 0.3s background-color;
}
.modal-close:hover{
  background-color: #D42D21;
}
.modal-close:active{
  opacity: 0.8;
}

.modal h1 {
  margin-top: 0;
}
.modal img{
  width: 30%;
  min-width: 100px;
}
.modal p {
  margin-bottom: 0;
}
