body{
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  background-color: #D0D8DD;
}
h1{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.pokeButton{
  margin: 5px;
  padding: 4px;
  border: 0px solid black;
  border-radius: 4px;
  box-shadow: 2px 3px 3px #AAA ;
  width: 220px ;
  height: 50px;
  font-family: "Raleway";
  font-weight: 600;
}
.pokeButton:hover{

}
@media all and (min-width: 500px) and (max-width: 800px){
  .pokeButton{
    width : 170px;
  }
}
@media all and (max-width: 500px) {
  .pokeButton{
    width : 70%;
  }
}

li{
    list-style-type: none;
}
